
.tableContainer {
  width: 450px;
  margin: auto;
}

.grid td {
  width: 100px;
  height: 150px;
  padding-bottom: 50px ;
  padding-top: 10px ;
  border: 2px solid orange;
  text-align: center;
  float: right;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.available {
  background: chocolate;
  color: #333;
  display: inline-block;

}

.reserved {
  background: orange;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}


