
.tableContainer {
  width: 550px;
  margin: auto;
}
/* (
              <td
                className={seat === null ? 'available' : 'reserved'}
                onClick={seat === null ? () => book({ seatNumber }) : {}}
              >
                {seatNumber}{' '}
              </td>
            ) */
.grid td {
  width: 100px;
  height: 50px;
  padding-bottom: 50px ;
  padding-top: 50px ;
  border: 2px solid orange;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: orange;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}

.available {
  color: #333;
}

