
.tableContainer {
  width: 360px;
  margin: auto;
}

.grid td {
  padding-top: 0%;
  width: 56px;
  height: 50px;
  border: 2px solid rgb(22, 22, 22);
  text-align: center;
  float: left;
  margin: 3px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.available {
  background: rgb(212, 231, 127);
  color: #333;
  display: inline-block;

}

.reserved {
  background: rgb(192, 4, 4);
  color: #fff;
  display: inline-block;
}

.reserved::after {
  
}

.available::after {

}


